{% extends "layout.html" %}

{% block body %}

	<div class="jumbotron jumbotron-fluid">
	    <div class="container">
			<h1 class="display-4">Få koll på städningen i hemmet</h1>
			<p class="lead">Här hittar du information om hur du.... </p>
		</div>
	</div>

	<main>
		<section class="container-fluid lighter-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<a href="#" class="h3-link"><h3 class="">Senaste</h3></a>
						<p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce imperdiet orci in eleifend aliquam. Mauris justo erat, eleifend vel mauris quis, semper porta libero. Vivamus hendrerit scelerisque massa ullamcorper bibendum. Integer sit amet odio ultrices, tincidunt lorem sed, semper tellus. Aliquam hendrerit nisi ultricies ante maximus.</p>
						<button type="button" class="btn btn-primary btn-cleaning-tip">Läs mer</button>
					</div>
					<div class="col-md-6">
						<a href="#" class="h3-link"><h3 class="">Populärt</h3></a>
						<p>Pellentesque lobortis lectus erat, vel bibendum nisl posuere ac. Nunc dapibus nisl nec ante fermentum, vitae interdum urna bibendum. Vivamus eget ex scelerisque, pulvinar velit et, interdum dui. Nulla non ipsum hendrerit, vehicula ipsum non, aliquam mauris.</p>
						<p>Pellentesque lobortis lectus erat, vel bibendum nisl posuere ac. Nunc dapibus nisl nec ante fermentum, vitae interdum urna bibendum. Vivamus eget ex scelerisque, pulvinar velit et, interdum dui. Nulla non ipsum hendrerit, vehicula ipsum non, aliquam mauris.</p>
						<button type="button" class="btn btn-primary btn-cleaning-tip">Läs mer</button>
					</div>
					<div class="col-md-6">
						<a href="#" class="h3-link"><h3 class="">Senaste</h3></a>
						<p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce imperdiet orci in eleifend aliquam. Mauris justo erat, eleifend vel mauris quis, semper porta libero. Vivamus hendrerit scelerisque massa ullamcorper bibendum. Integer sit amet odio ultrices, tincidunt lorem sed, semper tellus. Aliquam hendrerit nisi ultricies ante maximus.</p>
						<button type="button" class="btn btn-primary btn-cleaning-tip">Läs mer</button>
					</div>
				</div>
			</div>
		</section>
	</main>

{% endblock %}