.navbar  {
background-color: #7c7ddd;
}

.navbar-brand {
  font-family: 'Playball', cursive;
  font-size: 46px;
  margin-left: 20px;

}

.navbar-dark .navbar-nav .nav-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;

}

#navbarSupportedContent {
  width: 20%;
  float: right;
  position: relative;
  right: 0;
}



.btn {
  background-color: transparent;
  color: white;
}

@media (max-width: 767px) {

  .nav {
      padding-left: 10%;
  }

  .navbar-dark .navbar-brand {

  }

  .navbar-brand {
    font-family: 'Playball', cursive;
    font-size: 36px;
    margin-left: 0;

  }

}

/* @media (min-width: 767px) and (max-width: 1024px) {
    .card-img-overlay *{
    line-height: 1rem;
    }

    .display-4{
    padding-top: 50px;
    font-size: 200%;
    }
} */
