<footer class="container-fluid">
	<div class="container">
		<div class="row">

			<div class="col-sm-1 col-md-2 col-lg-1"></div>

			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
				<ul class="foot-col">
					<li><a href="/" class="">Start</a></li>
					<li><a href="/to_do_list.html/" class="">To do-lista</a></li>
					<li><a href="/calendar.html/" class="">Kalender</a></li>
					<li><a href="/cleaning_tips.html/" class="">Städtips</a></li>
				</ul>
			</div>

			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
				<ul class="foot-col">
					<li><a href="/my_account.html/" class="">Mitt konto</a></li>
					<li><a href="/my_home.html/" class="">Min bostad</a></li>
				</ul>
			</div>

			<div class="col"></div>
		</div>
	</div>

	<div class="row copy-row">
		<div class="col">
			<p class="text-center">&copy; CleanUp 2018</p>
		</div>
	</div>
</footer>