<footer class="container-fluid">
	<div class="container">
		<div class="row">

			<div class="col-sm-1 col-md-2 col-lg-1"></div>

			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
				<ul class="foot-col">
					{% if session.logged_in %}
						<li><a href="/">Start</a></li>
						<li><a href="/to_do_list/">To do-lista</a></li>
						<li><a href="/calendar/">Kalender</a></li>
						<li><a href="/cleaning_tips/">Städtips</a></li>
						<li><a href="/article_list/">Lista A-Ö</a></li>
					{% else %}
						<li><a href="/">Start</a></li>
						<li><a href="/cleaning_tips/">Städtips</a></li>
						<li><a href="/article_list/">Lista A-Ö</a></li>
					{% endif %}
					
				</ul>
			</div>

			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
				<ul class="foot-col">
					{% if session.logged_in %}
						<li><a href="/my_account/">Mitt konto</a></li>
						<li><a href="/my_home/">Min bostad</a></li>
					{% else %}
						<li><a href="/register/">Registrera</a></li>
						<li><a href="/login/">Logga in</a></li>
					{% endif %}
				</ul>
			</div>
			{% if session.logged_in %}
				<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
					<ul class="foot-col">
						<li><a href="/logout/" class="">Logga ut</a></li>
					</ul>
				</div>
			{% endif %}
			

			<div class="col"></div>
		</div>
	</div>

	<div class="row copy-row">
		<div class="col">
			<p class="text-center">&copy; CleanUp 2018</p>
		</div>
	</div>
</footer>