<footer class="container-fluid">
	<div class="container">
		<div class="row">

			<div class="col-sm-1 col-md-2 col-lg-1"></div>

			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
				<ul class="foot-col">
					<li><a href="/" class="">Start</a></li>
					<li><a href="/to_do_list/" class="">To do-lista</a></li>
					<li><a href="/calendar/" class="">Kalender</a></li>
					<li><a href="/cleaning_tips/" class="">Städtips</a></li>
					<li><a href="/article_list/" class="">Lista A-Ö</a></li>
				</ul>
			</div>

			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
				<ul class="foot-col">
					{% if session.logged_in %}
						<li><a href="/my_account/" class="">Mitt konto</a></li>
						<li><a href="/my_home/" class="">Min bostad</a></li>
						<br>
						<li><a href="/logout/" class="">Logga ut</a></li>
					{% else %}
						<li><a href="/register/" class="">Registrera</a></li>
						<li><a href="/login/" class="">Logga in</a></li>
					{% endif %}
				</ul>
			</div>

			<div class="col"></div>
		</div>
	</div>

	<div class="row copy-row">
		<div class="col">
			<p class="text-center">&copy; CleanUp 2018</p>
		</div>
	</div>
</footer>