<footer class="container-fluid">
	<div class="container-fluid">
		<div class="container container-smaller">
			<div class="row">

				<div class="col-xs-12 col-sm-4 col-md-3">
					<ul class="foot-col">
						{% if session.logged_in %}
							<li><a href="/">Start</a></li>
							<li><a href="/to_do_list/">To do-lista</a></li>
							<li><a href="/calendar/">Kalender</a></li>
							<li><a href="/cleaning_tips/">Städtips</a></li>
						{% else %}
							<li><a href="/">Start</a></li>
							<li><a href="/cleaning_tips/">Städtips</a></li>
							<li><a href="/article_list/">Lista A-Ö</a></li>
						{% endif %}
					</ul>
				</div>

				<div class="col-xs-12 col-sm-4 col-md-3">
					<ul class="foot-col">
						{% if session.logged_in %}
							<li><a href="/article_list/">Lista A-Ö</a></li>
							<li><a href="/tool_list/">Städredskap</a></li>
							<li><a href="/detergent_list/">Städmedel</a></li>
						{% else %}
							<li><a href="/register/">Registrera</a></li>
							<li><a href="/login/">Logga in</a></li>
							<li><a href="https://www.adlibris.com/se/bok/stadgladje-med-marlene-eriksson-9789176610220" target="_blank">Källa</a></p>
						{% endif %}
					</ul>
				</div>

				{% if session.logged_in %}
					<div class="col-xs-12 col-sm-4 col-md-3">
						<ul class="foot-col">
							<li><a href="/my_account/">Mitt konto</a></li>
							<li><a href="/my_home/">Min bostad</a></li>
							<li><a href="/logout/" class="">Logga ut</a></li>
							<li><a href="https://www.adlibris.com/se/bok/stadgladje-med-marlene-eriksson-9789176610220" target="_blank">Källa</a></p>
						</ul>
					</div>
				{% endif %}

			</div>
		</div>
	</div>

	<div class="row copy-row">
		<div class="col">
			<p class="text-center">&copy; CleanUp 2018</p>
		</div>
	</div>
</footer>
