<nav class="navbar fixed-top navbar-expand-sm navbar-dark">
    <a class="navbar-brand" href="/">CleanUp</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/to_do_list.html/">To Do-lista</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/calendar.html/">Kalender</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cleaning_tips.html/">Städtips</a>
            </li>
            <li class="nav-item nav-item-right">
                <a class="nav-link" href="/login.html/">Logga in</a>
            </li>
        </ul>
    </div>
</nav>