<nav class="navbar fixed-top navbar-expand-sm navbar-dark">
    <a class="navbar-brand" href="/">CleanUp</a>
    <div class="ml-auto order-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="navbar-collapse collapse order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            {% if session.logged_in %}
                <li class="nav-item"><a class="nav-link" href="/to_do_list/">To Do-lista</a></li>
                <li class="nav-item"><a class="nav-link" href="/calendar/">Kalender</a></li>
                <li class="nav-item"><a class="nav-link" href="/cleaning_tips/">Städtips</a></li>
                <li class="nav-item"><a class="nav-link" href="/article_list/">Lexikon A-Ö</a></li>
                <li class="nav-item"><a class="nav-link" href="/tool_list/">Verktyg</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="/cleaning_tips/">Städtips</a></li>
                <li class="nav-item"><a class="nav-link" href="/article_list/">Lexikon A-Ö</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="navbar-collapse collapse order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            {% if session.logged_in %}
                <li class="nav-item"><a class="nav-link" href="/logout/">Logga ut</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="/register/">Registrera</a></li>
                <li class="nav-item"><a class="nav-link" href="/login/">Logga in</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
