body {
	color: #333;
}

.font-bold {
	font-weight: 700;
}

nav {
	background-color: #222;
}

nav > div > ul.navbar-nav{
	/*background-color: green;*/ /* Använder denna för att testa */
	width: 100%;
}

li.nav-item-right {
	float: right;
}

.clearfix {
	margin: 3.5em 0 0;
}

.sm-space {
	height: 1em;
}

.md-space {
	height: 2em;
}

.lg-space {
	height: 3em;
}

.xl-space {
	height: 4em;
}

.light-gray {
	background-color: #eee;
}

.lighter-gray {
	background-color: #f5f5f5;
}

.display-5 {
	font-weight: 300;
}

.jumbotron {
	background-color: #fff;
	margin-bottom: 0;
}

div.container.container-smaller {
	width: 70%;	
}

main {

}

section {
	padding: 2em 0em;
}

section h2 {
	font-weight: 400;
}

section h3 {
	padding-top: 0.5em;
	font-weight: 400;
	font-size: 2em;
}

section p {
	text-align: justify;
}

h2.display-4 {
	font-size: 3.5em; /* 3.5em är default för klassen "display-4"*/
}

a.h3-link {
	color: inherit;
	display: inline-block;
	color: #00c;
}

a.h3-link:hover {
	text-decoration: none;
	color: #22f;
}

a.h3-link:active {
	text-decoration: underline;
}

p.lead {
	font-size: 18px;
}

.btn-primary {
	padding: 7px 18px;
}

footer {
	background-color: #333;
	padding: 1em 0 0;
}

ul.foot-col {
	list-style-type: none;
	margin: 0;
	padding: 10px 0;
}

ul.foot-col > li > a {
	color: #ccc;
}

ul.foot-col > li > a:hover {
	color: #fff;
	text-decoration: none;
}

ul.foot-col > li > a:active {
	text-decoration: underline;
}

footer div.copy-row {
	margin-top: 1em;
	height: 3em;
	line-height: 3em;
	background-color: #222;
}

footer p.text-center {
	color: #999;
	margin-bottom: 0;
	font-size: 0.9em;
}


/***** index.html *****/
h1.home {
	padding-bottom: 0.25em;
	text-align: center;
}

div.jumbotron.home {
	background-image: url(/static/images/jumbo-1.jpg);
	background-size: cover;
	color: #000;
}

div.jumbotron.home .container {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.85);
	background: linear-gradient(90deg, rgba(250, 250, 250, 0.85), rgba(255, 255, 255, 0.85));
	padding: 5em 2em;
	border-radius: 5px;
}

.jumbotron > div.home p {
	max-width: 700px;
	margin: 1em auto;
	text-align: center;
	font-size: 1.5em;
}

p.bigger {
	font-size: 200%;
}

button.home {
	display: block;
	margin: 2em auto 0;
}


div.row.home {
	padding: 0.5em 0 1.5em;
	margin: 0 auto;
}


/* De fyra nedanstående reglerna är lite klyddiga. Bättre alternativ? */
div.row.home div.left-col-p {
	padding-left: 0;
}

div.row.home div.right-col-p {
	padding-right: 0;
}

div.row.home div.left-col-img {
	padding-left: 0;
}

div.row.home div.right-col-img {
	padding-right: 0;
}

div.home img {
	width: 100%;
}
/***** slut index.html *****/


/***** to_do_list.html *****/
div.to-do-list {
	font-size: 0.9rem;
	max-width: 800px;
	margin: auto;
	box-shadow: 0px 0px 4px #ddd;
	}

a.to-do-list-item {
	padding: 0.5em 1em;
}

div.to-do h5 {
	font-size: 1.15rem;
}

p.font-bold {
	font-size: 0.8rem;
}

p.item-not-done {
	background-color: #f33;
	margin-bottom: 0;
	color: #eee;
	height: 1.8em;
	line-height: 1.8em;
	padding: 0 5px;
	border-radius: 4px;
}
/***** slut to_do_list.html *****/


/***** calendar.html *****/
/* Month header */
section.calendar { /*Kan fixa någon bakgrundsfärg som sträcker sig från kant till kant */

}

.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

.year-size {
	font-size: 18px;
}
/***** slut calendar.html *****/


/***** login.html *****/
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

button.login-btn { /* Denna klassen används även till register.html */
    background-color: #007bff;
    border-radius: 3px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: all 0.1s;
}

button.login-btn:hover {
    opacity: 0.8;
}

button.login-btn > a {
    color: #fff;
}

/*** Vad gör de tre reglerna nedan? ***/
/***De finns till för när vi infogar login-bilden om vi gör det.***/

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

span.psw {
    float: right;
    padding-top: 16px;
}
/***** slut login.html *****/


/***** my_home.html *****/
div.room {
	background-color: #f9f9f9;
	box-shadow: 0px 0px 4px #bbb;
	padding: 1em;
	margin: 0;
	margin-bottom: 2em;
	font-weight: 300;
}

div.room > button {
	margin: 0;
}

ul.furniture-list {
	list-style-type: none;
	padding: 0
}




/*********** MEDIA QUERIES ***********/


@media screen and (max-width: 300px) {
    
    /* Vad används dessa till? */
    span.psw {
       display: block;
       float: none;
    }

    .cancelbtn {
       width: 100%;
    }

}

/*xs bootstrap */
@media (max-width: 576px) {

	div.jumbotron.home {
		height: 250px;
	}

	div.jumbotron.home div.container {
		display: none;
	}

	div.jumbotron.home div.container p {
		font-size: 1.25em;
	}

	div.jumbotron h1 {
		font-size: 2.25em;
	}

	h2.display-4 {
		font-size: 2.25em;
	}

	div.container.container-smaller {
		width: 100%;	
	}

	img.image-home {
		display: none;
	}

	div.row.home {
		width: 100%;
		padding-bottom: 0;
	}

	h3.home {
		width: 100%;
	}

	div.row.home div.left-col-p {
		padding-right: 0;
	}

	div.row.home div.right-col-p {
		padding-left: 0;
	}

	section p {
		text-align: left;
	}

}


/* sm bootstrap */
@media (min-width: 576px) and (max-width: 767px) {

	div.jumbotron.home div.container p {
		font-size: 1.25em;
	}

	div.jumbotron h1 {
		font-size: 3em;
	}

	div.container.container-smaller {
		width: 100%;
		padding: 0;
	}

	/*div.container-content {
		width: 100%;
	}*/

	div.row.home {
		width: 100%;
		padding-bottom: 0;
	}

	h3.home {
		width: 100%;
	}

	h2.display-4 {
		font-size: 2.5em;
	}

}


/* md bootstrap */
@media (min-width: 768px) and (max-width: 992px) {

	div.jumbotron.home div.container p {
		font-size: 1.35em;
	}

	div.container.container-smaller {
		width: 85%;	
	}

	div.row.home {
		width: 100%;
	}

	h3.home {
		width: 100%;
	}

}


/* lg bootstrap */
@media (min-width: 992px) and (max-width: 1199px) {

	div.container.container-smaller {
		width: 80%;	
	}

}


/* xl bootstrap */
@media (min-width: 1200px) {



}