body {
	color: #333;
}

.font-bold {
	font-weight: 700;
}

nav {
	background-color: #111;
}

.clearfix {
	margin: 3.5em 0 0;
}

div.alert {
	position: absolute;
	margin-top: 0;
	width: 100%;
	border-radius: 0px;
}

.light-gray {
	background-color: #eee;
}

.lighter-gray {
	background-color: #f5f5f5;
}

.display-4 {
	font-size: 3.5em;
}

.display-5 {
	font-size: 2.5em;
	font-weight: 300;
}

.display-6 {
	font-size: 2em;
	font-weight: 300;
}

.light {
	font-weight: 300;
	font-size: 18px;
}

.jumbotron {
	background-color: #fff;
	margin-bottom: 0;
}

div.container.container-smaller {
	width: 960px;	
}

section {
	padding: 2em 0em;
}

section:first-of-type {
	padding-top: 2.5em;
}

section h3 {
	padding-top: 0.5em;
	font-size: 2em;
}

section p {
	text-align: justify;
}

p.lead {
	font-size: 18px;
}

.btn-primary {
	padding: 7px 18px;
}

footer {
	background-color: #222;
	padding: 1em 0 0;
}

ul.foot-col {
	list-style-type: none;
	margin: 0;
	padding: 10px 0;
}

ul.foot-col > li > a {
	color: #ccc;
}

ul.foot-col > li > a:hover {
	color: #fff;
	text-decoration: none;
}

ul.foot-col > li > a:active {
	text-decoration: underline;
}

footer div.copy-row {
	margin-top: 1em;
	height: 3em;
	line-height: 3em;
	background-color: #111;
}

footer p.text-center {
	color: #999;
	margin-bottom: 0;
	font-size: 0.9em;
}


/***** index.html *****/
h1.home {
	padding-bottom: 0.25em;
	text-align: center;
}

div.jumbotron.home {
	background-image: url(/static/images/jumbo-1.jpg);
	background-size: cover;
	color: #000;
}

div.jumbotron.home .container {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.85);
	background: linear-gradient(90deg, rgba(250, 250, 250, 0.85), rgba(255, 255, 255, 0.85));
	padding: 5em 2em;
	border-radius: 5px;
}

.jumbotron > div.home p {
	max-width: 700px;
	margin: 1em auto;
	text-align: center;
	font-size: 1.5em;
}

p.bigger {
	font-size: 200%;
}

button.home {
	display: block;
	margin: 2em auto 0;
}

div.row.home {
	padding: 0.5em 0 1.5em;
	margin: 0 auto;
}

div.row.home div.left-col-p {
	padding-left: 0;
}

div.row.home div.right-col-p {
	padding-right: 0;
}

div.row.home div.left-col-img {
	padding-left: 0;
}

div.row.home div.right-col-img {
	padding-right: 0;
}

div.home img {
	width: 100%;
}
/***** slut index.html *****/


/***** to_do_list.html *****/
div.to-do-list {
	font-size: 0.9rem;
	max-width: 800px;
	margin: auto;	
	box-shadow: 0px 0px 4px #ddd;
	}

a.to-do-list-item {
	padding: 0.5em 1em;
}

div.to-do h5 {
	font-size: 1.15em;
}

p.font-bold {
	font-size: 0.8rem;
}

p.item-not-done {
	background-color: #f33;
	margin-bottom: 0;
	color: #eee;
	height: 1.8em;
	line-height: 1.8em;
	padding: 0 5px;
	border-radius: 4px;
}
/***** slut to_do_list.html *****/


/***** calendar.html *****/
/* Month header */
section.calendar { /*Kan fixa någon bakgrundsfärg som sträcker sig från kant till kant */

}

.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

.year-size {
	font-size: 18px;
}
/***** slut calendar.html *****/


/***** login.html *****/
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

button.login-btn { /* Denna klassen används även till register.html */
    border-radius: 3px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
/***** slut login.html *****/


/***** my_home.html *****/
div.room {
	background-color: #f9f9f9;
	box-shadow: 0px 0px 4px #bbb;
	padding: 1em;
	margin: 0;
	margin-bottom: 2em;
	font-weight: 300;
}

div.room > button {
	margin: 0;
}

ul.furniture-list {
	list-style-type: none;
	padding: 0
}

h3.display-5.underline {
	margin-bottom: 0.5em;
	padding: 0 0 0.25em;
	border-bottom: 3px solid rgba(100,100,100,0.2);
}

ul.house-info-list {
	list-style-type: none;
	padding: 0em 0.5em 0.5em;
}

ul.house-info-list {
	font-size: 1.1em;
}

/***** slut my_home.html *****/


/*********** MEDIA QUERIES ***********/


/*xs bootstrap */
@media (max-width: 576px) {

	nav > div.navbar-collapse > ul > a {
		margin-left: 0 !important;
	}

	div.jumbotron.home {
		height: 250px;
	}

	div.jumbotron.home div.container {
		display: none;
	}

	div.jumbotron.home div.container p {
		font-size: 1.25em;
	}

	div.jumbotron h1 {
		font-size: 2.25em;
	}

	.display-4 {
		font-size: 2.25em;
	}

	.display-5 {
		font-size: 2em;
	}

	.display-6 {
		font-size: 1.75em;
		font-weight: 300;
	}

	div.container.container-smaller {
		width: 100%;	
	}

	img.image-home {
		display: none;
	}

	div.row.home {
		width: 100%;
		padding-bottom: 0;
	}

	h3.home {
		width: 100%;
	}

	div.row.home div.left-col-p {
		padding-right: 0;
	}

	div.row.home div.right-col-p {
		padding-left: 0;
	}

	section p {
		text-align: left;
	}

}


/* sm bootstrap */
@media (min-width: 576px) and (max-width: 767px) {

	div.jumbotron.home div.container p {
		font-size: 1.25em;
	}

	div.jumbotron h1 {
		font-size: 3em;
	}

	div.container.container-smaller {
		width: 100%;
		padding: 0;
	}

	div.row.home {
		width: 100%;
		padding-bottom: 0;
	}

	h3.home {
		width: 100%;
	}

	.display-4 {
		font-size: 2.5em;
	}

	.display-5 {
		font-size: 2.25em;
	}

	.display-6 {
		font-size: 2em;
	}

}


/* md bootstrap */
@media (min-width: 768px) and (max-width: 992px) {

	div.jumbotron.home div.container p {
		font-size: 1.35em;
	}

	div.container.container-smaller {
		width: 85%;	
	}

	div.row.home {
		width: 100%;
	}

	h3.home {
		width: 100%;
	}

}


/* lg bootstrap */
@media (min-width: 992px) and (max-width: 1199px) {

	div.container.container-smaller {
		width: 80%;	
	}

}