{% extends "layout.html" %}

{% block body %}

	<main>
		<section class="jumbotron-fluid lighter-gray">
	        <div class="container container-smaller">
                <h2 class="display-4">Rum och Regelbundenhet</h2>
                <p class="lead">Nedan finns flera vanliga rum med länkar som tar dig till de städuppgifter som
								bör göras enligt vald frekvens.
								</p>
								<p class="lead">Alltså, om du exempelvis trycker på "Veckovis" under "Kök" så kommer de
								objekt i köket - som behöver rengöras en gång i veckan - att listas.
								</p>
	        </div>
	    </section>

		<section class="container-fluid">
			<div class="container">
				<h3 class="display-5 underline">Städtips för olika rum</h3>

				<div class="row">
					<div class="col-xs-12 col-sm-6 col-lg-4">
						<div class="room">
							<h4 class="display-6">Arbetsrum</h4>
							<ul class="furniture-list">
								<li><a href="#">Dagligen</a></li>
								<li><a href="#">Veckovis</a></li>
								<li><a href="#">Månadsvis</a></li>
							</ul>
							<button class="btn btn-primary">Läs mer</button>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6 col-lg-4">
						<div class="room">
							<h4 class="display-6">Badrum</h4>
							<ul class="furniture-list">
								<li><a href="#">Dagligen</a></li>
								<li><a href="#">Veckovis</a></li>
								<li><a href="#">Månadsvis</a></li>
							</ul>
							<button class="btn btn-primary">Läs mer</button>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6 col-lg-4">
						<div class="room">
							<h4 class="display-6">Hall och tvättstuga</h4>
							<ul class="furniture-list">
								<li><a href="#">Dagligen</a></li>
								<li><a href="#">Veckovis</a></li>
								<li><a href="#">Månadsvis</a></li>
							</ul>
							<button class="btn btn-primary">Läs mer</button>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6 col-lg-4">
						<div class="room">
							<h4 class="display-6">Hela hemmet</h4>
							<ul class="furniture-list">
								<li><a href="#">Veckovis</a></li>
								<li><a href="#">Månadsvis</a></li>
							</ul>
							<button class="btn btn-primary">Läs mer</button>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6 col-lg-4">
						<div class="room">
							<h4 class="display-6">Kök</h4>
							<ul class="furniture-list">
								<li><a href="#">Veckovis</a></li>
								<li><a href="#">Månadsvis</a></li>
								<li><a href="#">Kvartalsvis</a></li>
							</ul>
							<button class="btn btn-primary">Läs mer</button>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6 col-lg-4">
						<div class="room">
							<h4 class="display-6">Sovrum</h4>
							<ul class="furniture-list">
								<li><a href="#">Dagligen</a></li>
								<li><a href="#">Veckovis</a></li>
								<li><a href="#">Varannan vecka</a></li>
								<li><a href="#">Månadsvis</a></li>
								<li><a href="#">Kvartalsvis</a></li>
							</ul>
							<button class="btn btn-primary">Läs mer</button>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6 col-lg-4">
						<div class="room">
							<h4 class="display-6">Vardags- och allmänrum</h4>
							<ul class="furniture-list">
								<li><a href="#">Veckovis</a></li>
								<li><a href="#">Månadsvis</a></li>
							</ul>
							<button class="btn btn-primary">Läs mer</button>
						</div>
					</div>


				</div>
			</div>
		</section>
	</main>

{% endblock %}
