{% extends "layout.html" %}

{% block body %}

	<div class="jumbotron jumbotron-fluid home">
		<div class="container home">
			<h1 class="display-4 home">CleanUp</h1>
			<p>Behöver du hjälp med städningen i hemmet? Med CleanUp kan du få dagliga to do-listor samt en månadskalender med information om vad som behöver städas. </p>
			<!-- <button class="btn btn-primary home"><a href="/article_list.html/">Se alla våra städtips här!</a></button> -->
			{% if session.logged_in %}
				<p><a class="btn btn-primary" href="/article_list/" role="button">Se alla våra städtips här!</a></p>
			{% else %}
				<p><a class="btn btn-primary" href="/register/" role="button">Registrera konto!</a></p>
			{% endif %}
		</div>
	</div>

	<main>
		<!-- <a name="main"></a> -->
		<section class="container-fluid">
			<div class="container container-smaller">
				<div class="row home">
					<h2 class="display-5">CleanUp - Vi hjälper dig med städningen</h2>
					<p class="light">Duis eget porta elit. Sed auctor tincidunt nunc a cursus. Morbi quis sapien vitae elit vestibulum molestie in at dui. Vestibulum eu justo massa. Nullam et aliquam ex. Proin eu lectus molestie, varius ante vel, feugiat metus. Ut a erat vel lorem vehicula ornare nec ac leo. Pellentesque lobortis, ex pellentesque suscipit pharetra, nulla augue suscipit nunc, eu luctus eros diam nec metus. Curabitur rhoncus dui a est consequat, in posuere orci facilisis. Nulla maximus elit vitae viverra suscipit. Nunc ullamcorper elit nibh, aliquam mattis libero vulputate vitae. Donec congue ante et vestibulum malesuada.</p>
				</div>
			</div>
		</section>

		<section class="container-fluid lighter-gray">
			<div class="container container-smaller">

				<h3 class="home display-5">Daglig to do-lista</h3>
				<div class="row home">
					<div class="col-xs-12 col-sm-9 left-col-p">
						<p class="light">Nunc semper ultricies augue, id laoreet nunc commodo eu. Nulla accumsan libero non est vestibulum volutpat. Duis non lectus lectus. Maecenas id lectus eu dui viverra maximus ac non eros. Mauris lacinia, dui ac lobortis tincidunt, libero libero ultricies dui, ac vestibulum ex sem non enim. Mauris mattis ligula vel euismod lacinia. Maecenas leo est, mollis eget nisl ut, mollis aliquam leo. Mauris interdum ultrices nisl sed iaculis.</p>
					</div>
					<div class="col-xs-0 col-sm-3 right-col-img">
						<img src="/static/images/to-do-list.png" alt="Bild på en to do-lista" class="image-home">
					</div>
				</div>

				<h3 class="home display-5">Städschema</h3>
				<div class="row home">
					<div class="col-xs-0 col-sm-3 left-col-img">
						<img src="/static/images/cleaning-schedule.png" alt="Bild på en kalender" class="image-home">
					</div>
					<div class="col-xs-12 col-sm-9 right-col-p">
						<p class="light">Sed iaculis erat sit amet massa mollis, a malesuada purus elementum. Donec vehicula, dolor sed lobortis faucibus, mi sem hendrerit urna, a consequat justo nulla sed quam. Nulla id scelerisque nisi. Fusce iaculis, justo non mattis malesuada, libero tortor eleifend turpis, nec scelerisque ex nibh lacinia lacus.</p>
					</div>
				</div>

				<h3 class="home display-5">Allmänna städtips</h3>
				<div class="row home">
					<div class="col-xs-12 col-sm-9 left-col-p">
						<p class="light">Duis tempor dictum magna non sodales. Aenean id ornare massa, non interdum felis. Curabitur nec libero convallis, feugiat dui nec, malesuada ipsum. Praesent vitae scelerisque felis. Quisque sed vulputate eros. Duis vulputate suscipit nisl, eget placerat elit fermentum at. Proin nunc tortor, aliquam et arcu eu, pharetra volutpat sem. In tincidunt, nisi et tincidunt egestas, quam leo luctus nulla, vitae egestas augue nibh a metus.</p>
					</div>
					<div class="col-xs-0 col-sm-3 right-col-img">
						<img src="/static/images/cleaning.png" alt="Bild på tvättredskap" class="image-home">
					</div>
				</div>

			</div>
		</section>
	</main>

{% endblock %}
