{% extends "layout.html" %}

{% block body %}

	<div class="jumbotron jumbotron-fluid home">
		<div class="container home">
			<h1 class="display-4 home">CleanUp</h1>
			<p>
				Behöver du hjälp med städningen i hemmet? <br> CleanUp ger dig alla de städråd du behöver för att få struktur i städningen! Dessutom listar vi de städverktyg samt medel som behövs för att du ska kunna städa på bästa möjliga sätt. Våra städartiklar talar även om hur ofta olika saker behöver städas och rengöras.
			</p>
			<!-- <button class="btn btn-primary home"><a href="/article_list.html/">Se alla våra städtips här!</a></button> -->
			{% if session.logged_in %}
				<p><a class="btn btn-primary" href="/article_list/" role="button">Se alla våra städtips här!</a></p>
			{% else %}
				<p><a class="btn btn-primary" href="/register/" role="button">Registrera konto!</a></p>
			{% endif %}
		</div>
	</div>

	<main>
		<!-- <a name="main"></a> -->
		<section class="container-fluid">
			<div class="container container-smaller">
				<div class="row home">
					<h2 class="display-5">CleanUp - Vi hjälper dig med städningen</h2>
					<p class="light"><em>Hur ofta måste ugnen städas? Hur tvättar jag fönstren på bästa sätt?
						Vilket medel fungerar bäst att tvätta fönstren med?</em><br> Ja, så kan frågorna låta på allt fler
						håll. Den allmänna kunskapen om vardagsstädning tycks bli allt mindre hos ungdomar med tiden.
						CleanUp's ambition är att sprida kunskapen och färdigheten av vardaglig städning för de som
						saknar den. Genom färdiga artiklar skrivna av både administatörer och registrerade medlemmar
						vill vi bidra till att unga vuxna får kontroll på hygienen i hemmet.</p>
				</div>
			</div>
		</section>

		<section class="container-fluid lighter-gray">
			<div class="container container-smaller">

				<h3 class="home display-5">Steg 1 - Registrera dig</h3>
				<div class="row home">
					<div class="col-xs-12 col-sm-9 left-col-p">
						<p class="light">Fyll i formuläret på registreringssidan för att bilda ett användarkonto.
						Ange din email-adress, ett önskat lösenord och välj ett användarnamn, sen är det klart!</p>
					</div>
					<div class="col-xs-0 col-sm-3 right-col-img">
						<img src="/static/images/to-do-list.png" alt="Bild på en to do-lista" class="image-home">
					</div>
				</div>

				<h3 class="home display-5">Steg 2 - Vad behöver städas?</h3>
				<div class="row home">
					<div class="col-xs-0 col-sm-3 left-col-img">
						<img src="/static/images/cleaning-schedule.png" alt="Bild på en kalender" class="image-home">
					</div>
					<div class="col-xs-12 col-sm-9 right-col-p">
						<p class="light">När ett konto är registrerat har du tillgång till CleanUp's långa,
							alfabetiska lista med städtips. Bara leta upp föremålet som behöver städas eller rengöras, klicka
						 	och ta del av informationen!<br></p>
						<p class="light">Psst! Glöm inte läsa hur ofta föremålen behöver städas!</p>
					</div>
				</div>

				<h3 class="home display-5">Steg 3 - Städa!</h3>
				<div class="row home">
					<div class="col-xs-12 col-sm-9 left-col-p">
						<p class="light">När du hittat rätt städartikel - innehållandes metod, medel, verktyg och
							rekommenderad frekvens - finns det inte mycket kvar att göra än att den till sig och följa
							instruktionerna tills föremålet är rengjort!<br></p>
						<p class="light">Mycket städglädje!</p>
					</div>
					<div class="col-xs-0 col-sm-3 right-col-img">
						<img src="/static/images/cleaning.png" alt="Bild på tvättredskap" class="image-home">
					</div>
				</div>

			</div>
		</section>
	</main>

{% endblock %}
