{% extends "layout.html" %}

{% block body %}

	<main>
		<section class="container-fluid">
			<div class="container container-smaller">
				<h1 class="display-4">Logga in!</h1>
		        <p class="lead">Fyll i nedanstående rutor för att logga in</p>
		        <hr>
			</div>
			
		</section>
		
		<section class="container-fluid">
			<div class="container container-smaller">
				<form action="/login" method="POST">
					<label for="e-mail"><b>E-mailadress</b></label>
					<input type="text" placeholder="Skriv din e-mailadress här..." name="e-mail" required>

					<label for="password"><b>Lösenord</b></label>
					<input type="password" placeholder="Skriv lösenord här..." name="password" required>
					<span class="password"><a href="/forgot">Glömt ditt lösenord?</a></span>

					<button type="submit" class="btn btn-primary login-btn"><a href="#">Logga in!</a></button>
					<label>
						<input type="checkbox"> Kom ihåg mig
					</label>

					<!-- <button type="button"><a href="/" class="avbrytbutton login-btn">Avbryt</a></button> --> <!-- Bör kanske inte ha en så stor avbryt-knapp, eller en knapp för det alls? -->

				</form>
			</div>
		</section>

	</main>

{% endblock %}
