{% extends "layout.html" %}

{% block body %}

	<main>
		<section class="container-fluid">
			<div class="container container-smaller">
				<h1 class="display-4">Logga in!</h1>
                
		        <p class="lead">Fyll i nedanstående rutor för att logga in</p>
		        <hr>
			</div>
		</section>
		
		<section class="container-fluid">
			<div class="container container-smaller">
				<form action="" method="POST">
                    <div class="form-group">
                        <label>E-post</label>
                        <input type="text" name="email" class="form-control" value={{request.form.email}}>
                    </div>
                    <div class="form-group">
                        <label>Lösenord</label>
                        <input type="password" name="password" class="form-control" value={{request.form.password}}>
                    </div>
                    <div class="form-check mb-2">
                    	{{ form.remember_me(class="form-check-input") }}
                    	{{ form.remember_me.label(class="form-check-label") }}
                    </div>
                    <button type="submit" class="btn btn-primary login-btn">Logga in</button>
				</form>
				<p class="mt-1">Har du inget konto? <a href="/register/">Registrera dig här!</a></p>
			</div>
		</section>
	</main>

{% endblock %}
