{% extends "layout.html" %}

{% block body %}

	<main>
		<section class="container-fluid lighter-gray">
			<div class="container container-smaller">
				<div>
					<h2 class="display-4">Min bostad</h2>
					<p class="lead">För att kunna få en to do-lista och en kalender som är anpassad för just dig måste vi veta hur din bostad ser ut. Nedan kan du ange information om hur många kvadratmeter din bostad har, hur många rum du har och vilka möbler som finns i dessa.</p>
				</div>
			</div>
		</section>

		<section class="container-fluid">
			<div class="container container-smaller">
				
			</div>
		</section>
	</main>

{% endblock %}