{% extends "layout.html" %}

{% block body %}

	<main>
		<section class="container-fluid lighter-gray">
			<div class="container container-smaller">
				<h2 class="display-4">To do-lista: Torsag</h2>
				<p class="lead">I listan nedan ser du vilka aktiviteter som bör göras idag. Bocka av varje aktivitet när du är klar med den. Aktiviteter som är rödmarkerade är saker som redan skulle ha varit gjorda.</p>
				<p class="lead">Om du vill ha mer information om en aktivitet kan du klicka på den.</p>
			</div>
		</section>
		
		<section class="container-fluid">
			<div class="container container-smaller">
				<div class="list-group to-do-list">
					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start to-do-list-item">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="">Damsuga golvet</h5>
							<p class="font-bold item-not-done">3 dagar sedan</p>
						</div>
						<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
						<small>Cirka 45 minuter</small>
					</a>
					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start to-do-list-item">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">Rengöra spisen</h5>
						</div>
						<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
						<small class="text-muted">Cirka 10 minuter</small>
					</a>
					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start to-do-list-item">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">Rengöra ugnen</h5>
						</div>
						<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
						<small class="text-muted">Cirka 20 minuter</small>
					</a>
					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start to-do-list-item">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">Rengöra toaletten</h5>
						</div>
						<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
						<small class="text-muted">Cirka 5 minuter</small>
					</a>
				</div>
			</div>
		</section>
	</main>

{% endblock %}