{% extends "layout.html" %}

{% block body %}

    <main>
        <section class="container-fluid">
            <div class="container container-smaller">
                <h1 class="display-4">Städredskap</h1>
                <br>
                <p>
                    <ul class="list-group">
                        {% for header in headers: %}
                            <li class="list-group-item">
                            <a href="/static/tool_articles/{{ header }}">{{ header }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </p>
            </div>
        </section>
    </main>

{% endblock %}
